<div class="container-text-center" id="habilidades">
    <div class="row row-cols-6">
        <div class="col-10">
            <h2>Hard y soft Skills</h2>
        </div>
        <div class="col-2">
            <button *ngIf="autenticaticionService.isLoggedIn()" type="button" class="btn btn-outline-light" (click)="displayForm = !displayForm"><i class="fa-solid fa-pen"></i></button>
            <button *ngIf="autenticaticionService.isLoggedIn()" type="button" class="btn btn-outline-light" (click)="displayUpdateForm = !displayUpdateForm"><i class="fa-solid fa-pen"></i></button>
            <button *ngIf="autenticaticionService.isLoggedIn()" type="button" class="btn btn-outline-light" (click)="displayDeleteForm = !displayDeleteForm"><i class="fa-solid fa-trash"></i></button>
          </div>
        <div *ngFor="let skill of skills" class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p class="title">{{skill.nombreSkill}}</p>
                        <p>Hover Me</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="title">BACK</p>
                        <p>Utilizando el framework de Spring soy capaz de hacer de realizar robustos sistemas back-end</p>
                    </div>
                </div>
            </div>
            <div *ngIf="displayUpdateForm">
                <input [(ngModel)]="skill.nombreSkill" type="text" placeholder={{skill.nombreSkill}}>
                <input [(ngModel)]="skill.gradoSkill" type="text" placeholder={{skill.gradoSkill}}>
                <button type="button" class="btn btn-success btn-sm" (click)="cargar(skill)">Editar</button>
              </div>
              <div *ngIf="displayDeleteForm">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteSkill(skill)"><i class="fa-solid fa-trash"></i> Eliminar</button>
              </div>
        </div>
        <div *ngIf="displayForm">   
            <input [(ngModel)]="skill.nombreSkill" type="text" class="border border-success" class="rounded-pill" placeholder="Nombre skill">
            <input [(ngModel)]="skill.gradoSkill" type="text" class="border border-success" class="rounded-pill" placeholder="grado skill">
            <button type="button" class="btn btn-success btn-sm"  (click)="createSkill()" > Agregar</button>
        </div>
    </div>
</div>