body {
 /* background-image: url(https://img.freepik.com/foto-gratis/impresionante-foto-mar-cielo-oscuro-purpura-lleno-estrellas_181624-23013.jpg?w=740&t=st=1677787163~exp=1677787763~hmac=a617c54734f1d8e24e9ce60862cbf8a8a0c7e620d726c3a7c389aa0f96b944ce); */
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
     background: rgba(46, 60, 111,44);
  
}
header,main {
   /* margin-left: 10px;  */  
} 
div {
    /*margin: 1%; */
}
.row {
   /* background: rgb(46, 60, 111);*/
   /* background: rgba(71, 45, 125, 49); */
   margin-left: 18%;
   background: rgba(46, 60, 111,44);
    margin-bottom: 14px;
   /* border: 2px solid rgba(19, 18, 18, 0.664);*/
    border-radius: 30px; 
    transition-duration: 1.5s;
    color: white;
    
}
h2, h1, button {
    font-family: 'Qonquer', sans-serif;
         font-stretch: extra-expanded;                                     
}
.enlaces {
    text-decoration: none;
    color: white;
}
.enlaces:hover{
    border-bottom: 1px solid;
    color: rgb(29, 32, 65);
}
.enlaces:active{
    color: rgb(117, 134, 175);
}
a,h3,h4,h5,h6,p {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}
.logo {
    width: 50%; 
    max-width: 100px;
    min-width: 70px;
}
.banner_img{
   object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    border: 1.5px solid rgb(32, 84, 118);
}
button {
    background: transparent;
    border: transparent;
    
}
.boton_edicion{
position: relative;
top:50px;
right: 10px;
}  
.perfil{
    width: 10%;
    height:100%; 
    border: 1px solid #000;
    border-radius: 50%;
}
.texto-a-derecha{
    position: relative;
    left: 14px;
}
/*h6 {
    position: relative;
    left: 100px;
}*/  
.row:hover {
   /* background: rgba(45, 104, 125,49); */
   background: rgba(47, 112, 181, 71);
    color: rgb(24, 30, 46);
} 

input, ::placeholder, textarea {
background-image: url(https://img.freepik.com/foto-gratis/impresionante-foto-mar-cielo-oscuro-purpura-lleno-estrellas_181624-23013.jpg?w=740&t=st=1677787163~exp=1677787763~hmac=a617c54734f1d8e24e9ce60862cbf8a8a0c7e620d726c3a7c389aa0f96b944ce);
  /* background-color: rgb(0, 0, 0); */
   color:white;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }

  .card {
    position: relative;
    max-width: 100%;
    height: 250px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }
  
  .card_title {
    font-weight: bold;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    max-width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    max-width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .card_title {
    color: #131313;
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .card:hover .card_content {
    transform: translateY(0);
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }
  
  
  button {
    position: relative;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18%; /* Ancho del sidebar */
    background: rgba(46, 60, 111,44);
}
  

  

  
  